# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Build
build/
target/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Maven
.mvn/
mvnw
mvnw.cmd
